<mat-card>
    <mat-action-list>
        <div mat-subheader>Menu</div>
        <button routerLink="/admin" mat-list-item>
            <mat-icon mat-list-icon>home</mat-icon> Inicio
        </button>
        <button mat-list-item routerLink="/admin/profile" >
            <mat-icon mat-list-icon>account_circle</mat-icon> Perfil
        </button>
        <button mat-list-item routerLink="/admin/profile">
            <mat-icon mat-list-icon>list</mat-icon> Categorías
        </button>
        <button mat-list-item routerLink="/admin/profile">
            <mat-icon mat-list-icon>add_circle-outline</mat-icon> Agregar Categoría
        </button>
        <button mat-list-item routerLink="/admin/profile">
            <mat-icon mat-list-icon>add</mat-icon> Agregar Cuestionario
        </button>
        <button mat-list-item routerLink="/admin/profile">
            <mat-icon mat-list-icon>logout</mat-icon> Salir
        </button>
    </mat-action-list>
</mat-card>