<mat-card style="margin-left: 10px;">
    <h1 style="padding: 10px;">Detalles del Perfil</h1>
    <mat-card-content>
        <div class="bootstrap-wrapper">
            <div class="text">
                <div class="text-center">
                    <img src="https://png.pngtree.com/png-clipart/20210915/ourmid/pngtree-user-avatar-login-interface-abstract-purple-user-icon-png-image_3917506.jpg" alt=""
                    class="profile-image">
                    <h1 class="mt20">{{user.nombre}}</h1>  
                </div>
                <div class="row">
                    <div class="col-md-10 offset-md-1">
                        <table class="table text-center">
                            <tr>
                                <td>Nombre</td>
                                <td>{{user.nombre}} {{user.apellido}}</td>
                            </tr>
                            <tr>
                                <td>Usuario</td>
                                <td>{{user.username}}</td>
                            </tr>
                            <tr>
                                <td>ID</td>
                                <td>{{user.id}} </td>
                            </tr>
                            <tr>
                                <td>Telefono</td>
                                <td>{{user.telefono}} </td>
                            </tr>
                            <tr>
                                <td>Rol</td>
                                <td>{{user.authorities[0].authority}}</td>
                            </tr>
                            <tr>
                                <td>Estado</td>
                                <td>{{user.enable ? "Activo" : "No Activo"}} </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <mat-card-actions class="text-center buttons" >
            <button mat-raised-button color="primary">Actualizar</button>
            <button mat-raised-button color = "accent">Compartir</button>
        </mat-card-actions>
    </mat-card-content>
</mat-card>