<mat-toolbar color="primary">
    <a
      [routerLink]="'/'"
      mat-icon-button
      class="example-icon"
      arial-label="Example icon-button with menu icon"
    >
      <mat-icon>menu_books</mat-icon>
    </a>
    <span>Portal de exámenes</span>
    <span class="example-spacer"></span>
    <a
      [routerLink]="'/login'"
      mat-icon-button
      class = "example-icon favorite-icon"
      aria-label = "Example icon-button with heart icon"
      style="font-size: 16px;"
    >
      Iniciar sesión
    </a>
    <a
      [routerLink]="'/signup'"
      mat-icon-button
      class="example-icon favorite-icon mr20 ml70"
      aria-label="Example icon-button with heart icon"
      style="font-size: 16px;"
    >
      Registrar
    </a>
  </mat-toolbar>